{% extends 'main.html' %}

{% block content %}

<div class="home-container">

    <div>
        <h5>{{ module_count }} {% if module_count == 1 %} Modul {% else %} Module {% endif %} gefunden.</h5>
        <a href ="{% url 'create-module' %}"> Modul hinzufügen</a>
    <hr>
    <div>
        {% for module in modules %}
            <a href="{% url 'update-module' module.id %}">Bearbeiten</a>
            <a href="{% url 'delete-module' module.id %}">Löschen</a>
            <div>
                <h5>{{ module.id }} --- <a href = "{% url 'module' module.id %}">{{ module.title }} </a></h5>
                <hr>
            </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}


