{% extends 'main.html' %}

{% block content %}
    <h1>{{ module}}</h1>
    <hr>
    <h3>Studiengang:</h3>
    <ul>
    {% for graduate_program in module.graduate_programs.all %}
        <li>{{ graduate_program }}</li>
    {% endfor %}
    </ul>
    <h3>Spezialisierungsanrechnung: </h3>
    <ul>
    {% for specialisation_track in module.specialisation_tracks.all %}
        <li>{{ specialisation_track }}</li>
    {% endfor %}
    </ul>
    <h3>Modulverantwortlicher:</h3>
    <ul>
        <li>{{ module.lecturer }}</li>
    </ul>
    <h3>Inhalt:</h3>
    <ul>
        <li>{{ module.content }}</li>
    </ul>
    <h3>Lernziele:</h3>
    <ul>
        <li>{{ module.learning_objective }}</li>
    </ul>
    <h3> Semester: </h3>
    <ul>
    {% for semester in module.semesters.all %}
        <li>{{ semester }}</li>
    {% endfor %}
    </ul>
    <h3>Credits:</h3>
    <ul>
        <li>{{ module.credits }} ECTS</li>
    </ul>
    <h3>Zuletzt aktualisiert am:</h3>
    <ul>
        <li>{{ module.updated }}</li>
    </ul>
{% endblock %}