<div class="flex-shrink-0 p-3 bg-white" style="width: 310px;">
    <ul class="nav flex-column ps-0">
        <li class="nav-item mb-1">
            <button class="btn d-inline-flex align-items-center rounded border-0">
                <a id="btn-category-all" class="link-dark d-inline-flex rounded text-decoration-none"
                   href="{% url 'main' %}">Alle</a>
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapse-semester" aria-expanded="true">
                Semester
            </button>
            <div class="collapse" id="collapse-semester">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for semester in semesters %}
                        <li><a href="{% url 'filter' %}?semester={{ semester.type }}"
                               class="link-dark d-inline-flex text-decoration-none rounded">{{ semester }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapse-graduate-program" aria-expanded="true">
                Studiengang
            </button>
            <div class="collapse" id="collapse-graduate-program">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for program in graduate_programs %}
                        <li><a href="{% url 'filter' %}?program={{ program }}"
                               class="link-dark d-inline-flex text-decoration-none rounded">{{ program }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapse-specialisation-track" aria-expanded="true">
                Spezialisierungen
            </button>
            <div class="collapse" id="collapse-specialisation-track">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for track in specialisation_tracks %}
                        <li><a href="{% url 'filter' %}?track={{ track }}"
                               class="link-dark d-inline-flex text-decoration-none rounded">{{ track }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapse-credit" aria-expanded="true">
                Credits
            </button>
            <div class="collapse" id="collapse-credit">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for credit in credits %}
                        <li><a href="{% url 'filter' %}?credits={{ credit }}"
                               class="link-dark d-inline-flex text-decoration-none rounded">{{ credit }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                    data-bs-toggle="collapse" data-bs-target="#collapse-lecturer" aria-expanded="true">
                Modulverantwortlicher
            </button>
            <div class="collapse" id="collapse-lecturer">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for lecturer in lecturers %}
                        <li><a href="{% url 'filter' %}?lecturer={{ lecturer }}"
                               class="link-dark d-inline-flex text-decoration-none rounded">{{ lecturer }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</div>

