{% extends 'main/index.html' %}

{% block content %}
    <div class="container pt-4">
        <div class="row gy-4 justify-content-start">
            {% for module in favourites %}
                <div class="col-3 justify-content-start">
                    <div id="card-favourite" class="card shadow-sm">
                        <div class="card-body">
                            <a class="link-dark text-decoration-none" href="{% url 'module' module.id %}"><h6
                                    class="card-title text-center text-truncate p-1">{{ module.title }}</h6></a>
                            <h6 class="text-center text-muted">{{ module.credits }} ECTS</h6>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-danger" href="{% url 'toggle-fav' module.id %}">Entfernen</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}