<style>
    .btn-danger:hover{
    background-color: #dc3545;
}
    .btn-success:hover{
    background-color: #198754;}
</style>
<div class="col justify-content-end">
    <table class="table table-fixed table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center" scope="col">Titel</th>
            <th class="text-center" scope="col">Credits</th>
            <th class="text-center" scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td class="align-middle" style="transform: rotate(0);"><a
                        class="link-dark text-decoration-none stretched-link"
                        href="{% url 'module' module.id %}">{{ module.title }}</a></td>
                <td class="align-middle text-center">
                    {{ module.credits }}
                </td>
                <td class="align-middle text-center">
                    {% if user.user_type == user.ADMIN or module.lecturer.user == user %}
                        <a class="btn btn-secondary" href="{% url 'update-module' module.id %}">Bearbeiten</a>
                        {% include 'module/delete_module.html' %}
                    {% endif %}
                    {% if user.user_type == user.STUDENT %}
                        {% if module in student.favourites.all or module in favourites %}
                            <a class="btn btn-danger" href="{% url 'toggle-fav' module.id %}">Entfernen</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'toggle-fav' module.id %}">Hinzufügen</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
